html
  head
    title Hangman

  body
    div#hangman-drawing
      include ./includes/ascii-hangmen/6-turns-remaining.pug

    div#masked-answer
      span= maskedAnswer

    form#pick-letter-form(method="post")
          select#unused-letters(name='letter')
            for letter in unusedLetters
              option(value=letter)= letter
          input#pick-letter-button(type="submit", value="Pick letter")
