html
  head
    title Hangman

  body
    div#hangman-drawing
      case turnsLeft
        when 6
          include ./includes/ascii-hangmen/6-turns-remaining.pug
        when 5
          include ./includes/ascii-hangmen/5-turns-remaining.pug
        when 4
          include ./includes/ascii-hangmen/4-turns-remaining.pug
        when 3
          include ./includes/ascii-hangmen/3-turns-remaining.pug
        when 2
          include ./includes/ascii-hangmen/2-turns-remaining.pug
        when 1
          include ./includes/ascii-hangmen/1-turns-remaining.pug
        when 0
          include ./includes/ascii-hangmen/0-turns-remaining.pug


    div#masked-answer
      span= maskedAnswer

    case result
      when 'in-progress'
        form#select-letter-form(method="post" action="/select-letter")
              select#unused-letters(name='letter')
                for letter in unusedLetters
                  option(value=letter)= letter
              input#select-letter-button(type="submit", value="Select letter")

      when 'lost'
        div#result-message
          | Oh dear, you lost!

        a#start-new-game-link(href="/start-new-game") Play again

      when 'won'
        div#result-message
          | Congratulations, you won!

        a#start-new-game-link(href="/start-new-game") Play again
